*,
html,
body {
  font-family: NotoSans, Arial, "Microsoft JhengHei";
  margin: 0;
  font-size: 100%;
  overflow: hidden;
}

canvas {
  display: block;
  vertical-align: bottom;
}

@font-face {
  font-family: NotoSans;
  src: url('./fonts/NotoSans-Regular.ttf');
}

@font-face {
  font-family: "NotoSans Bold";
  src: url('./fonts/NotoSans-Bold.ttf');
}

#login-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}



#login-box {
  text-align: center;
  position: relative; 
  background-color: white;
}

#login-box > div{
  position: relative;
}

.login-wrapper .errorFont {
  color: rgb(255, 0, 0) !important;
}

/* base on 1024*/

#login-box{
  width: 310px;
  height: 448px;
}

.login-wplogo-area{
  position: relative;
  text-align: initial;
  height: 58px;
  width: 100%;
}

img#topleft-logo{
  position: relative;
  left: 27px;
  top: 23px;
  width: 64px;
  height: 35px;
}

.login-pdlogo-area{
  position: relative;
  height: 118px;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-pdlogo-area span{
  font-weight: bolder;
  font-size: 22px;
  color: #004280;
}

img#center-logo{
  position: relative;
  top: 38px;
  width: 256px;
  height: 64px;
}
.login-switch-area {
  position: relative;
  height: auto;
  width: 100%;
  text-align: center;
  display: inline-block;
}

#login-switch-type {
  width: 256px;
  display: inline-block;
}
#login-switch-type > label {
  position: relative;
  width: 128px;
  height: 32px;
  padding: 0;
  margin: 0;
  line-height: 32px;
  font-size: 11px;
}

#login-switch-type > label > input {
  display: none;
}

#login-switch-type > label > span {
  display: inline-block;
  font-weight: normal;
  background: #ffffff;
  color: #c2c2c2;
  width: 50%;
}

#login-switch-type > label > span:after {
  content:"";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 100%;
  border-bottom: 2px solid #d8d8d8;
}

#login-switch-type input[name="login-type"]:checked + span{
  color: #3395ff;
  font-weight: 800;
  font-family: "NotoSans Bold";
}


#login-switch-type input[name="login-type"]:checked + span:after{
  content:"";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 100%;
  border-bottom: 3px solid #3395ff;
}

.login-msg-area {
  position: relative;
  min-height: 32px;
  width: 100%;
}
#login-message {
  position: relative;
  top: 8px;
  width: 256px;
  max-width: 256px;
  margin: 0 auto;
  text-align: left;
  font-size: 11px;
}

.login-form-area{
  position: relative;
  height: auto;
  width: 100%;
}
.login-form-area > input{
  width: 254px;
  height: 30px;
}
#login-username {
  font-size: 14px;
  margin: 0 auto;
  border-radius: 0;
  border-color: #C2C2C2;
  border-width: 2px 2px 1px 2px;
  border-style: solid;
}

#login-username:focus {
  border: solid #99CAFF;
  border-width: 2px 2px 1px 2px;
  color: #000000;
}

#login-pwd {
  font-size: 14px;
  margin: 0 auto;
  border-radius: 0;
  border-color: #C2C2C2;
  border-width: 1px 2px 2px 2px;
  border-style: solid;
}

#login-pwd:focus {
  border: solid #99CAFF;
  border-width: 1px 2px 2px 2px;
  color: #000000;
}

.login-rememberme-area{
  position: relative;
  width: 100%;
  height: 39px;
  text-align: left;
  font-size: 11px;
}

#login-rememberme {
  position: relative;
  top: 6px;
  line-height: 25px;
  font-size: 11px;
  left: 27px;
}
#login-rememberme > input {
  vertical-align: text-bottom;
  opacity: 0;
  width: 18px;
}
#login-rememberme input:checked ~ .checkbox-mark {
  background-color: #2196F3;
  border-color: #2196F3;
}

#login-rememberme .checkbox-mark {
  position: absolute;
  left: 0;
  top: 0;
  height: 10px;
  width: 10px;
  border: 2px solid #323233;
}

#login-rememberme input:checked ~ .checkbox-mark:after {
  display: block;
}

#login-rememberme .checkbox-mark:after {
  position: absolute;
  content:'';
  left: 2px;
  width: 4px;
  height: 7px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.login-rememberme-area > #login-forgetpwd{
  font-family: NotoSans; 
  position: absolute;
  cursor: pointer;
  color: #3395ff;
  display: inline-block;
  right: 27px;
  top: 6px;
  position: absolute;
  line-height: 25px;
  font-size: 11px;
}

.login-submit-area{
  position: relative;
  height: 32px;
  width: 100%;
}

#login-btn{
  padding: 0px;
  margin: 0px;
  position: relative;
  min-width: 96px;
  height: 32px;
  font-size: 13px;
  right: 27px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-direction: column;
  flex-direction: column;
  cursor: pointer; 
  position: absolute; 
  background-color: #40506f; 
  font-family: NotoSans; 
  color: #FEFEFE;
}