
@media (min-width: 768px)  and (max-width: 1280px){
  #particles-js {
    background-image: url('../../assets/sso/ssoBG_1024_768@1x.png');
  }
}

@media (min-width: 1280px)  and (max-width: 1920px){
  #particles-js {
    background-image: url('../../assets/sso/ssoBG_1280_800@1x.png');
  }
}

@media (min-width: 1920px){
  #particles-js {
    background-image: url('../../assets/sso/ssoBG_1920_1080@1x.png');
  }
}

@media (max-width: 767px) and (min-width: 414px){
  #login-wrapper {
    justify-content: center;
  }
  #login-b{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
  }
}
@media (max-width: 767px) {
  #particles-js {
    display: none;
  }
  #login-b{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
  }
}

@media (min-width: 768px) {
  #particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    /* background-image: url('../../assets/sso/ssoBG_1024_768@1x.png'); */
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 100% auto;
  }
  #login-wrapper {
    justify-content: flex-end;
  }
  #login-b{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50vw;
    height: 100vh;
  }
}

@media (min-width: 768px) and (max-width: 1440px) {
  /* base on 1024*/
  #particles-js {
    /* background-image: url('../../assets/sso/ssoBG_1024_768@1x.png'); */
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 100% auto;
  }

  #login-wrapper {
    justify-content: flex-end;
  }

  #login-b{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50vw;
    height: 100vh;
  }
  #login-box {
    -webkit-box-shadow: 0px 0px 5px 0px rgba(204,204,204,1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(204,204,204,1);
    box-shadow: 0px 0px 5px 0px rgba(204,204,204,1);
  }
}
@media (min-width: 414px) and (max-width: 1440px) {
  /* base on 1024*/
  #login-box {
    width: 310px;
    height: 448px;
  }

  .login-wplogo-area {
    position: relative;
    height: 58px;
    width: 100%;
  }

  img#topleft-logo {
    position: relative;
    left: 27px;
    top: 23px;
    width: 64px;
    height: 35px;
  }

  .login-pdlogo-area {
    position: relative;
    height: 118px;
    width: 100%;
    text-align: center;
  }

  img#center-logo {
    position: relative;
    top: 38px;
    width: 256px;
    height: 64px;
  }

  .login-switch-area {
    position: relative;
    height: auto;
    width: 100%;
    text-align: center;
  }

  #login-switch-type>label {
    position: relative;
    width: 128px;
    height: 32px;
    padding: 0;
    margin: 0;
    line-height: 32px;
    font-size: 11px;
  }

  #login-switch-type>label>input {
    display: none;
  }

  #login-switch-type>label>span {
    display: inline-block;
    font-weight: normal;
    background: #ffffff;
    color: #c2c2c2;
    width: 50%;
  }

  #login-switch-type>label>span:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 100%;
    border-bottom: 2px solid #d8d8d8;
  }

  #login-switch-type input[name="login-type"]:checked + span {
    color: #3395ff;
    font-weight: 800;
    font-family: "NotoSans Bold";
  }

  #login-switch-type input[name="login-type"]:checked+span:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 100%;
    border-bottom: 3px solid #3395ff;
  }

  .login-msg-area {
    position: relative;
    min-height: 32px;
    width: 100%;
  }

  #login-message {
    position: relative;
    padding-top: 8px;
    width: 256px;
    max-width: 256px;
    margin: 0 auto;
    text-align: left;
    font-size: 11px;
  }

  .login-form-area {
    position: relative;
    height: auto;
    width: 100%;
  }

  .login-form-area>input {
    width: 254px;
    height: 30px;
  }

  #login-username {
    margin: 0 auto;
    border-radius: 0;
    border-color: #C2C2C2;
    border-width: 2px 2px 1px 2px;
  }

  #login-username:focus {
    border: solid #99CAFF;
    border-width: 2px 2px 1px 2px;
    color: #000000;
  }

  #login-pwd {
    margin: 0 auto;
    border-radius: 0px;
    border-color: #C2C2C2;
    border-width: 1px 2px 2px 2px;
  }

  #login-pwd:focus {
    border: solid #99CAFF;
    border-width: 1px 2px 2px 2px;
    color: #000000;
  }

  .login-rememberme-area {
    position: relative;
    width: 100%;
    height: 39px;
    text-align: left;
    font-size: 11px;
  }

  #login-rememberme {
    position: relative;
    top: 6px;
    line-height: 25px;
    font-size: 11px;
    left: 27px;
  }

  #login-rememberme>input {
    vertical-align: text-bottom;
  }

  .login-rememberme-area>#login-forgetpwd {
    font-family: NotoSans;
    position: absolute;
    cursor: pointer;
    color: #3395ff;
    display: inline-block;
    right: 27px;
    top: 6px;
    position: absolute;
    line-height: 25px;
    font-size: 11px;
  }

  .login-submit-area {
    position: relative;
    height: 32px;
    width: 100%;
  }

  #login-btn {
    padding: 0px;
    margin: 0px;
    position: relative;
    min-width: 96px;
    height: 32px;
    font-size: 13px;
    right: 27px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-direction: column;
    flex-direction: column;
    cursor: pointer;
    position: absolute;
    background-color: #40506f;
    font-family: NotoSans;
    color: #FEFEFE;
  }
}
