@media (min-width: 1440px) and (max-width: 3840px) {
  #particles-js {
    /* background-image: url('../../assets/sso/ssoBG_1280_800@1x.png'); */
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 100% auto;
  }

  #login-wrapper {
    justify-content: flex-end;
  }

  #login-b{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50vw;
    height: 100vh;
  }
  #login-box{
    width: 372px;
    height: 538px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(204,204,204,1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(204,204,204,1);
    box-shadow: 0px 0px 5px 0px rgba(204,204,204,1);
  }
      
  .login-wplogo-area{
    position: relative;
    height: 69px;
    width: 100%;
  }
  
  img#topleft-logo{
    position: relative;
    left: 32px;
    top: 28px;
    width: 78px;
    height: 41px;
  }
  .login-pdlogo-area{
    position: relative;
    height: 142px;
    width: 100%;
    text-align: center;
  }
  
  img#center-logo{
    position: relative;
    top: 46px;
    width: 308px;
    height: 77px;
  }
  .login-switch-area {
    position: relative;
    height: auto;
    width: 100%;
    text-align: center;
  }

  #login-switch-type {
    width: 308px;
  }
  #login-switch-type > label {
    position: relative;
    width: 155px;
    height: 39px;
    padding: 0;
    margin: 0;
    line-height: 39px;
    font-size: 13px;
  }
  #login-switch-type > label > input {
    display: none;
  }
  #login-switch-type > label > span {
    display: inline-block;
    font-weight: normal;
    background: #ffffff;
    color: #c2c2c2;
    width: 50%;
  }
  #login-switch-type > label > span:after {
    content:"";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width:100%;
    border-bottom: 2px solid #d8d8d8;
  }
  
  #login-switch-type input[name="login-type"]:checked + span {
    color: #3395ff;
    font-weight: 800;
    font-family: "NotoSans Bold";
  }
  
  
  #login-switch-type input[name="login-type"]:checked + span:after{
    content:"";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width:100%;
    border-bottom:  3px solid #3395ff;
  }
  
  .login-msg-area{
    position: relative;
    min-height: 38px;
    width: 100%;
  }
  #login-message {
    position: relative;
    padding-top: 9px;
    width: 308px;
    max-width: 308px;
    margin: 0 auto;
    text-align: left;
    font-size: 13px;
  }
  .login-form-area{
    position: relative;
    height: auto;
    width: 100%;
  }
  .login-form-area > input{
    width: 306px;
    height: 36px;
  }
  #login-username {
    margin: 0 auto;
    border-radius: 0;
    border-color: #C2C2C2;
    border-width: 2px 2px 1px 2px;  
  }
  
  #login-username:focus {
    border: solid #99CAFF;
    border-width: 2px 2px 1px 2px;
    color: #000000;
  }
  
  #login-pwd {
    margin: 0 auto;
    border-radius: 0px;
    border-color: #C2C2C2;
    border-width: 1px 2px 2px 2px;
  }
  
  #login-pwd:focus {
    border: solid #99CAFF;
    border-width: 1px 2px 2px 2px;
    color: #000000;
  }
  
  .login-rememberme-area{
    position: relative;
    width: 100%;
    height: 46px;
    text-align: left;
    font-size: 13px;
  }
  #login-rememberme {
    position: relative;
    top: 8px;
    line-height: 29px;
    font-size: 13px;
    left: 32px;
  }
  .login-rememberme-area > #login-forgetpwd{
    font-family: NotoSans; 
    position: absolute;
    cursor: pointer;
    color: #3395ff;
    display: inline-block;
    right: 32px;
    top: 8px;
    position: absolute;
    line-height: 29px;
    font-size: 13px;
  }
  
  .login-submit-area{
    position: relative;
    height: 40px;
    width: 100%;
  }
  
  #login-btn{
    padding: 0px;
    margin: 0px;
    position: relative;
    min-width: 96px;
    height: 40px;
    font-size: 16px;
    right: 32px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-direction: column;
    flex-direction: column;
    cursor: pointer; 
    position: absolute; 
    background-color: #40506f; 
    font-family: NotoSans; 
    color: #FEFEFE;
  }
}