@media (min-width: 375px) and (max-width: 414px) {
  
  #login-wrapper {
    justify-content: center;
  }
  #login-b{
    display: block;
    width: 100vw;
    height: 100vh;
  }
  #login-box {
    width: 100vw;
    height: 100vh;
  }
  .login-wplogo-area {
    position: relative;
    height: 29vw;
    width: 100%;
  }
  img#topleft-logo {
    position: relative;
    left: 4vw;
    top: 17vw;
    width: 23vw;
    height: 12vw;
  }
  .login-pdlogo-area {
    position: relative;
    height: 43vw;
    width: 100%;
    text-align: center;
  }
  img#center-logo {
    position: relative;
    top: 14vw;
    width: 92vw;
    height: 23vw;
  }
  .login-switch-area {
    position: relative;
    height: auto;
    width: 100%;
    text-align: center;
  }
  #login-switch-type>label {
    position: relative;
    width: 46vw;
    height: 11vw;
    padding: 0;
    margin: 0;
    line-height: 11vw;
    font-size: 4vw;
  }
  #login-switch-type>label>input {
    display: none;
  }

  #login-switch-type>label>span {
    display: inline-block;
    font-weight: normal;
    background: #ffffff;
    color: #c2c2c2;
    width: 50%;
  }

  #login-switch-type>label>span:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 100%;
    border-bottom: 2px solid #d8d8d8;
  }
  #login-switch-type input[name="login-type"]:checked + span {
    color: #3395ff;
    font-weight: 800;
    font-family: "NotoSans Bold";
  }
  #login-switch-type input[name="login-type"]:checked + span:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 100%;
    border-bottom: 3px solid #3395ff;
  }
  .login-msg-area {
    position: relative;
    min-height: 16vw;
    width: 100%;
  }
  #login-message {
    position: relative;
    padding-top: 5vw;
    width: 92vw;
    max-width: 92vw;
    margin: 0 auto;
    text-align: left;
    font-size: 4vw;
  }
  .login-form-area {
    position: relative;
    height: 24vw;
    width: 100%;
  }
  .login-form-area>input {
    width: 92vw;
    height: 12vw;
  }
  #login-username {
    margin: 0 auto;
    border-radius: 0;
    border-color: #C2C2C2;
    border-width: 2px 2px 1px 2px;
  }

  #login-username:focus {
    border: solid #99CAFF;
    border-width: 2px 2px 1px 2px;
    color: #000000;
  }

  #login-pwd {
    margin: 0 auto;
    border-radius: 0px;
    border-color: #C2C2C2;
    border-width: 1px 2px 2px 2px;
  }

  #login-pwd:focus {
    border: solid #99CAFF;
    border-width: 1px 2px 2px 2px;
    color: #000000;
  }
  .login-rememberme-area {
    position: relative;
    width: 100%;
    height: 12vw;
    text-align: left;
    font-size: 4vw;
  }
  #login-rememberme {
    position: relative;
    top: 2vw;
    line-height: 9vw;
    font-size: 4vw;
    left: 4vw;
  }
  .login-submit-area {
    position: relative;
    height: 12vw;
    width: 100%;
  }

  #login-btn {
    padding: 0px;
    margin: 0px;
    position: relative;
    min-width: 35vw;
    height: 12vw;
    font-size: 4vw;
    right: 4vw;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-direction: column;
    flex-direction: column;
    cursor: pointer;
    position: absolute;
    background-color: #40506f;
    font-family: NotoSans;
    color: #FEFEFE;
  }
}
