<template>
  <el-container>
    <el-main style="padding: 0 12px;max-width: 1248px;margin: 0 auto;">
      <el-collapse class="iws-collapse" v-model="activeNames">
        <el-collapse-item class="iws-collapse-title" title="Monitor List" name="1">
          <el-row v-for="item in monitorList" :key="item.name">{{item.name}}</el-row>
        </el-collapse-item>
        <el-collapse-item title="I.App" name="2">
          <el-row class="app-row">
            <div v-for="item in appInfo" :key="item.id" class="app-card">
              <img class="img-app" :src="item.image_url"/>
            </div>
          </el-row>
        </el-collapse-item>
        <el-collapse-item title="System List" name="3">
          <el-row class="system-row">
            <div v-for="item in systemFuncInfo" :key="item.id" class="system-card">
              <div>
                <img class="img-sys" :src="item.image_url"/>
                <h3 class="title-sys">{{item.title}}</h3>
              </div>
              <!-- <hr> -->
              <div>
                <ul>
                  <li>{{item.vendor}}</li>
                  <li>{{item.system}}</li>
                </ul>
              </div>
              <!-- <img class="img-app" :src="item.image_url"/> -->
            </div>
          </el-row>
        </el-collapse-item>
      </el-collapse>
    </el-main>
  </el-container>
</template>

<script>

export default {
  name: 'Home',
  data () {
    return {
      activeNames: ['1', '2', '3'],
      projectInfo: {
        title: this.$router.currentRoute.params.project,
        image_url: '../building/adv_1.jpg'
      },
      monitorList: [
        {
          name: 'central control room',
          description: 'central control room',
          role: 'owner'
        },
        {
          name: 'Building central control room',
          description: 'Building central control room',
          role: 'owner'
        }
      ],
      appInfo: [
        {
          id: 74,
          image_url: 'https://advcloudfiles.advantech.com/wise-paas-marketplace/Logo/icon_SaaSComposer.png',
          title: 'WISE-PaaS/SaaS Composer',
          description: ''
        },
        {
          id: 73,
          image_url: 'https://advcloudfiles.advantech.com/wise-paas-marketplace/Logo/icon_Dashboard.png',
          title: 'WISE-PaaS/Dashboard',
          description: ''
        },
        {
          id: 75,
          image_url: 'https://advcloudfiles.advantech.com/wise-paas-marketplace/Logo/icon_APM.png',
          title: 'WISE-PaaS/InsightAPM (Asset Performance Management)',
          description: ''
        }
      ],
      systemFuncInfo: [
        {
          id: 74,
          image_url: 'https://advcloudfiles.advantech.com/wise-paas-marketplace/Logo/icon_SaaSComposer.png',
          vendor: 'OneWork',
          system: '施工環境',
          title: 'OneWork - 施工環境',
          description: ''
        },
        {
          id: 73,
          image_url: 'https://advcloudfiles.advantech.com/wise-paas-marketplace/Logo/icon_Dashboard.png',
          vendor: 'OneWork',
          system: '人員進場 RFID',
          title: 'OneWork - 人員進場 RFID',
          description: ''
        },
        {
          id: 75,
          image_url: 'https://advcloudfiles.advantech.com/wise-paas-marketplace/Logo/icon_APM.png',
          vendor: 'Advantech',
          system: '停車',
          title: 'Advantech - 影像監控',
          description: ''
        }
      ]
    }
  },
  methods: {

  }
}
</script>
<style lang="scss">
  .project-image {
    width: 120px;
    border-radius: 30px;
  }
  .iws-collapse {
    .el-collapse-item__header {
      font-size: 20px;
    }
  }
  .app-row {
    margin-bottom: 12px;
    .app-card {
      display: inline-block;
      margin-right: 12px;
      .img-app {
        width: 118px;
        border: 1px solid #EEE;
        border-radius: 14px;
        &:hover {
          box-shadow: 0 0 3px 2px #EEEEEE;
        }
      }
    }
  }
  .system-row {
    .system-card {
      position: relative;
      display: inline-block;
      margin-top: 10px;
      margin-right: 10px;
      border: 1px solid #808080;
      width: 300px;
      height: 150px;
      .img-sys{
        display: inline-block;
        width: 50px;
        vertical-align: middle;
        margin: 10px;
      }
      .title-sys{
        display: inline-block;
      }
    }
  }
</style>
