<template>
  <el-container>
    <el-menu
      :default-active="activeMenuIndex"
      class="iws-menu"
      @select="handleMenuSelect"
      text-color="#909399"
      active-text-color="#008cd6"
      :unique-opened="true">
      <div class="project">
        <div class="project-avatar"><span>{{projectInfo.title[0]}}</span></div>
        <div class="project-title">{{projectInfo.title}}</div>
      </div>
      <el-menu-item index="project-overview" style="padding-left: 16px;">
        <i class="el-icon-s-home"></i>
        <span slot="title">Project Overview</span>
      </el-menu-item>
      <el-menu-item index="project-user" style="padding-left: 16px;">
        <i class="el-icon-user-solid"></i>
        <span slot="title">User</span>
      </el-menu-item>
      <el-menu-item index="project-monitor" style="padding-left: 16px;">
        <i class="el-icon-s-platform"></i>
        <span slot="title">Monitor</span>
      </el-menu-item>
      <el-menu-item index="project-system" style="padding-left: 16px;">
        <i class="el-icon-s-grid"></i>
        <span slot="title">System Function</span>
      </el-menu-item>
      <el-menu-item index="project-iapp" style="padding-left: 16px;">
        <i class="el-icon-s-help"></i>
        <span slot="title">I.APP</span>
      </el-menu-item>
      <el-menu-item index="project-setting" style="padding-left: 16px;">
        <i class="el-icon-s-tools"></i>
        <span slot="title">Setting</span>
      </el-menu-item>
    </el-menu>
    <el-main>
<!--      <el-breadcrumb separator-class="el-icon-arrow-right" class="breadcrumb">-->
<!--        <el-breadcrumb-item :to="{ path: '/' }">Projects</el-breadcrumb-item>-->
<!--        <el-breadcrumb-item v-for="(item, index) in breadcrumb()" :key="index" :to="{ path: item.path }">{{item.title}}</el-breadcrumb-item>-->
<!--      </el-breadcrumb>-->
      <router-view/>
    </el-main>
  </el-container>
</template>

<script>

export default {
  name: 'Home',
  data () {
    return {
      activeMenuIndex: this.getMenuIndex(this.$router.currentRoute.name),
      projectInfo: {
        title: this.$router.currentRoute.params.project
      }
    }
  },
  watch: {
    $route (to, from) {
      this.activeMenuIndex = this.getMenuIndex(this.$router.currentRoute.name)
    }
  },
  methods: {
    handleMenuSelect (keyString) {
      this.$router.push({ name: keyString, params: { project: this.$router.currentRoute.params.project } })
    },
    getMenuIndex (name) {
      const nameArray = name.split('-')
      return nameArray[0] + '-' + nameArray[1]
    },
    breadcrumb () {
      const breadcrumb = {}
      breadcrumb[0] = {
        title: this.$router.currentRoute.params.project,
        path: '/' + this.$router.currentRoute.params.project + '/overview'
      }
      const routeNameArray = this.$router.currentRoute.name.split('-')
      if (routeNameArray.length > 1) {
        breadcrumb[1] = {
          title: routeNameArray[1].charAt(0).toUpperCase() + routeNameArray[1].slice(1),
          path: '/' + this.$router.currentRoute.params.project + '/' + routeNameArray[1]
        }
      }
      if (routeNameArray.length > 2 && routeNameArray[1] === 'monitor') {
        breadcrumb[2] = {
          title: this.$router.currentRoute.params.monitor,
          path: '/' + this.$router.currentRoute.params.project + '/' + routeNameArray[1] + '/' + this.$router.currentRoute.params.monitor
        }
      }
      return breadcrumb
    }
  }
}
</script>
<style lang="scss" scoped>
  .iws-menu {
    .project {
      & > div {
        display: inline-block;
      }
      .project-avatar {
        width: 36px;
        height: 36px;
        margin: 10px;
        border-radius: 4px;
        background-color: #EEE;
        font-size: 20px;
        color: #AAA;
        text-align: center;
        & span {
          line-height: 36px;
        }
      }
      .project-title {
        color: #323233;
      }
    }
    .el-menu-item {
      font-size: 16px;
      padding-left: 10px;
      &.is-active {
        background-color: #ecf5ff;
      }
      &.is-active > span {
        font-weight: bold;
        font-family: "Roboto Bold", "Microsoft JhengHei";
      }
    }
    &:not(.el-menu--collapse) {
      width: 260px;
      min-height: 400px;
    }
  }
  .breadcrumb {
    margin: 2px 12px 20px;
    padding-bottom:12px;
    border-bottom: 1px solid #EEE;
  }
</style>
<style lang="scss">
  .iws-circle-button {
    vertical-align: text-bottom;
    background-size: 20px;
    width: 20px !important;
    height: 20px !important;
  }
</style>
