<template>
  <el-container>
    <el-main style="padding: 0 12px;max-width: 1248px;margin: 0 auto;">
      <el-row style="margin-bottom: 12px;">
        <span style="font-size: 20px; margin-right: 4px;">System Function</span>
        <span style="font-size: 18px; margin-right: 10px;vertical-align: text-bottom;">({{systemFuncInfo.length}})</span>
        <el-button size="small" icon="iws-icon-create iws-circle-button" @click="isSystemFuncFormHidden=false"></el-button>
      </el-row>
      <el-row style="margin-bottom: 12px;">
        <transition name="slide">
          <el-tabs type="card" :stretch="true" v-show="!isSystemFuncFormHidden" class="project-form-tab">
            <el-tab-pane label="External">
              <el-form :model="ruleForm" :rules="rules" ref="ruleForm" class="user-ruleForm" size="mini">
                <el-form-item label="System name" prop="name">
                  <el-input type="email" v-model="ruleForm.name" autocomplete="off"></el-input>
                </el-form-item>
                <el-form-item label="System URL" prop="url">
                  <el-input type="text" v-model="ruleForm.url" autocomplete="off"></el-input>
                </el-form-item>
                <el-form-item label="System Icon URL" prop="imageUrl">
                  <el-input type="text" v-model="ruleForm.imageUrl" autocomplete="off"></el-input>
                </el-form-item>
                <el-form-item label="System description" prop="description">
                  <el-input type="text" v-model="ruleForm.description" autocomplete="off"></el-input>
                </el-form-item>
                <el-form-item>
                  <el-button type="primary" @click="submitForm('ruleForm')">Add New</el-button>
                  <el-button plain @click="cancelForm()">Cancel</el-button>
                </el-form-item>
              </el-form>
            </el-tab-pane>
            <el-tab-pane label="Internal"></el-tab-pane>
          </el-tabs>
        </transition>
      </el-row>
      <el-row>
        <el-radio-group v-model="sortType" size="mini" @change="sort">
          <el-radio-button label="vendor">廠商</el-radio-button>
          <el-radio-button label="system">子系統</el-radio-button>
          <!-- <el-radio-button label="id">ID</el-radio-button> -->
        </el-radio-group>
      </el-row>
      <el-row class="system-row">
        <div v-for="item in systemFuncInfo" :key="item.id" class="system-card">
          <div>
            <img class="img-sys" :src="item.image_url"/>
            <h3 class="title-sys">{{item.title}}</h3>
          </div>
          <!-- <hr> -->
          <div>
            <ul>
              <li>{{item.vendor}}</li>
              <li>{{item.system}}</li>
            </ul>
          </div>
          <!-- <img class="img-app" :src="item.image_url"/> -->
        </div>
      </el-row>
    </el-main>
  </el-container>
</template>

<script>

export default {
  name: 'Home',
  data () {
    const validatePass = (rule, value, callback) => {
      if (value === '') {
        callback(new Error('Please enter a valid email'))
      } else {
        if (this.ruleForm.email !== '') {
          this.$refs.ruleForm.validateField('checkPass')
        }
        callback()
      }
    }
    return {
      projectInfo: {
        title: this.$router.currentRoute.params.project
      },
      isSystemFuncFormHidden: true,
      sortType: 'vendor',
      ruleForm: {
        name: '',
        url: '',
        imageUrl: ''
      },
      rules: {
        email: [
          { validator: validatePass, trigger: '' }
        ]
      },
      systemFuncInfo: [
        {
          id: 74,
          image_url: 'https://advcloudfiles.advantech.com/wise-paas-marketplace/Logo/icon_SaaSComposer.png',
          vendor: 'OneWork',
          system: '施工環境',
          title: 'OneWork - 施工環境',
          description: ''
        },
        {
          id: 73,
          image_url: 'https://advcloudfiles.advantech.com/wise-paas-marketplace/Logo/icon_Dashboard.png',
          vendor: 'OneWork',
          system: '人員進場 RFID',
          title: 'OneWork - 人員進場 RFID',
          description: ''
        },
        {
          id: 75,
          image_url: 'https://advcloudfiles.advantech.com/wise-paas-marketplace/Logo/icon_APM.png',
          vendor: 'Advantech',
          system: '停車',
          title: 'Advantech - 影像監控',
          description: ''
        }
      ]
    }
  },
  created () {
    this.sort(this.sortType)
  },
  methods: {
    submitForm (formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          alert('submit!')
        } else {
          console.log('error submit!!')
          return false
        }
      })
    },
    cancelForm (formName) {
      this.isSystemFuncFormHidden = true
    },
    compare (key) {
      return function (a, b) {
        var val1 = a[key]
        var val2 = b[key]
        return (val1 > val2) ? 1 : (val1 < val2) ? -1 : 0
      }
    },
    sort (type) {
      if (type === this.sortType) {
        this.systemFuncInfo.reverse()
      } else {
        this.sortType = type
        this.systemFuncInfo.sort(this.compare(type))
      }
    }
  }
}
</script>
<style lang="scss" scoped>
.system-card {
  position: relative;
  display: inline-block;
  margin-top: 10px;
  margin-right: 10px;
  border: 1px solid #808080;
  width: 300px;
  height: 150px;
  .img-sys{
    display: inline-block;
    width: 50px;
    vertical-align: middle;
    margin: 10px;
  }
  .title-sys{
    display: inline-block;
  }
}
</style>
