<template>
  <el-container>
    <el-main style="padding: 0 12px;max-width: 1248px;margin: 0 auto;">
      <router-link
        :to="'/' + this.$router.currentRoute.params.project + '/monitor'"
        style="text-decoration: none"
      >
        <el-link style="color: #008cd6;">
          <i class="el-icon-arrow-left" style="font-weight: bold;"></i>
          {{this.$router.currentRoute.params.monitor}}
        </el-link>
      </router-link>
      <el-row style="margin: 12px 0;">
        <span style="font-size: 20px; margin-right: 8px;">SRP-Frame</span>
      </el-row>
      <el-tabs v-model="activeTabName">
        <el-tab-pane label="Management" name="first">
          <el-row v-show="isLangConfigFormHidden">
            <el-row style="margin-bottom: 12px;">
              <el-button size="small" icon="iws-icon-create create-monitor-button" @click="isMonitorFormHidden=false"></el-button>
            </el-row>
            <el-table
              class="iws-table"
              :data="languageList"
              style="width: 100%"
              row-class-name="iws-el-table-no-hover-highlight">
              <el-table-column
                prop="language"
                label="Language">
              </el-table-column>
              <el-table-column
                prop=""
                label="Situation Room Preview">
                <template slot-scope="scope">
                  <el-button icon="el-icon-monitor" style="border-radius: 4px;" @click="monitorLanguage(scope.row)">Left</el-button>
                  <el-button icon="el-icon-monitor" style="border-radius: 4px;" @click="monitorLanguage(scope.row)">Main</el-button>
                  <el-button icon="el-icon-monitor" style="border-radius: 4px;" @click="monitorLanguage(scope.row)">Right</el-button>
                </template>
              </el-table-column>
              <el-table-column
                prop=""
                label="Single Display Preview">
                <template slot-scope="scope">
                  <el-button icon="el-icon-monitor" style="border-radius: 4px;" @click="monitorLanguage(scope.row)">55" Display</el-button>
                </template>
              </el-table-column>
              <el-table-column
                prop=""
                label="Edit Delete">
                <template slot-scope="scope">
                  <el-button size="small" icon="iws-icon-edit" @click="editLanguage(scope.row)"> </el-button>
                  <el-button size="small" icon="iws-icon-delete" @click="deleteLanguage(scope.row)"> </el-button>
                </template>
              </el-table-column>
            </el-table>
          </el-row>
          <el-row v-show="!isLangConfigFormHidden">
            <el-row style="margin-bottom: 12px;">
              <i class="el-icon-back iws-icon-arrow-circle-back" @click="isLangConfigFormHidden=true"></i>
              <span style="color: #008cd6;margin: 0 8px;">Management List</span>
              <i class="el-icon-arrow-right" style="font-size: 14px;color: #008cd6;font-weight: bold;"></i>
              <span style="color: #008cd6;margin: 0 4px;">{{langConfigLang}}</span>
            </el-row>
            <el-form :model="langConfigRuleForm" :rules="langConfigRules" ref="srpLangRuleForm" size="mini">
              <el-form-item label="Logo" prop="name">
                <el-input type="text" v-model="langConfigRuleForm.logoUrl" autocomplete="off" placeholder="Paste logo image url"></el-input>
              </el-form-item>
              <el-form-item label="JSON Configure" prop="configContent">
                <el-input type="textarea" v-model="langConfigRuleForm.configContent" class="srp-system-config-textarea"></el-input>
                <div><span class="iws-link">Read more</span> about SRP-Frames</div>
              </el-form-item>
              <el-form-item>
                <el-button type="primary" @click="submitSystemForm('ruleForm')">Save changes</el-button>
                <el-button plain @click="isLangConfigFormHidden=true">Back to management list</el-button>
              </el-form-item>
            </el-form>
          </el-row>
        </el-tab-pane>
        <el-tab-pane label="System Configure" name="second">
          <el-form :model="systemConfigRuleForm" :rules="systemConfigRules" ref="srpSystemRuleForm" size="mini">
            <el-form-item label="System Logo" prop="name">
              <el-input type="text" v-model="systemConfigRuleForm.logoUrl" autocomplete="off" placeholder="Paste logo image url"></el-input>
            </el-form-item>
            <el-form-item label="System JSON Configure" prop="configContent">
              <el-input type="textarea" v-model="systemConfigRuleForm.configContent" class="srp-system-config-textarea"></el-input>
              <div><span class="iws-link">Read more</span> about SRP-Frames</div>
            </el-form-item>
            <el-form-item>
              <el-button type="primary" @click="submitSystemForm('ruleForm')">Save changes</el-button>
            </el-form-item>
          </el-form>
        </el-tab-pane>
<!--        <el-tab-pane label="Permissions" name="third"></el-tab-pane>-->
        <el-tab-pane label="Settings" name="fourth">
          <el-form :model="settingRuleForm" :rules="settingRules" ref="srpSettingRuleForm" class="srp-setting-ruleForm" size="mini">
            <el-form-item label="Name" prop="name">
              <el-input type="text" v-model="settingRuleForm.name"></el-input>
            </el-form-item>
            <el-form-item label="Description" prop="configContent">
              <el-input type="text" v-model="settingRuleForm.description"></el-input>
              <div><span class="iws-link">Read more</span> about SRP-Frames</div>
            </el-form-item>
            <el-form-item>
              <el-button type="primary" @click="submitSettingForm('ruleForm')">Save changes</el-button>
            </el-form-item>
          </el-form>
        </el-tab-pane>
      </el-tabs>
    </el-main>
  </el-container>
</template>

<script>

export default {
  name: 'Home',
  data () {
    const validatePass = (rule, value, callback) => {
      if (value === '') {
        callback(new Error('Please enter a valid name'))
      } else {
        if (this.ruleForm.email !== '') {
          this.$refs.ruleForm.validateField('checkPass')
        }
        callback()
      }
    }
    return {
      activeTabName: 'first',
      systemConfigRuleForm: {
        logoUrl: '',
        configContent: '{\n' +
          '    "dashboard": {\n' +
          '        "url": "https://dashboard-grafana.wise-paas.com",\n' +
          '        "westUrl": "https://dashboard-grafana.wise-paas.com",\n' +
          '        "eastUrl": "https://dashboard-grafana.wise-paas.com"\n' +
          '    },\n' +
          '    "language": [\n' +
          '        {\n' +
          '            "text": "繁體中文",\n' +
          '            "abbr": "zh_tw",\n' +
          '            "default": true\n' +
          '        },\n' +
          '        {\n' +
          '            "text": "简体中文",\n' +
          '            "abbr": "zh_cn"\n' +
          '        },\n' +
          '        {\n' +
          '            "text": "English",\n' +
          '            "abbr": "en"\n' +
          '        }\n' +
          '    ],\n' +
          '    "theme": {\n' +
          '        "style": "gray"\n' +
          '    },\n' +
          '    "menu": {\n' +
          '        "swipeMenu": {\n' +
          '            "initClosed": false,\n' +
          '            "openFirstLayer": true\n' +
          '        }\n' +
          '    },\n' +
          '    "heightAdjust": false,\n' +
          '    "loginLogout": false,\n' +
          '    "dashboardHeader": true\n' +
          '}'
      },
      systemConfigRules: {
        name: [
          { validator: validatePass, trigger: '' }
        ]
      },
      settingRuleForm: {
        name: '',
        description: ''
      },
      settingRules: {
        name: [
          { validator: validatePass, trigger: '' }
        ]
      },
      languageList: [
        {
          language: 'English',
          description: 'yuying.lo@advantech.com.tw',
          role: 'owner'
        },
        {
          language: '简体中文',
          description: 'ray.lee@advantech.com.tw',
          role: 'owner'
        },
        {
          language: '繁體中文',
          description: 'ray.lee@advantech.com.tw',
          role: 'owner'
        }
      ],
      isLangConfigFormHidden: true,
      langConfigRuleForm: {
        logoUrl: '',
        configContent: '{\n' +
          '    "dashboard": {\n' +
          '        "url": "https://dashboard-grafana.wise-paas.com",\n' +
          '        "westUrl": "https://dashboard-grafana.wise-paas.com",\n' +
          '        "eastUrl": "https://dashboard-grafana.wise-paas.com"\n' +
          '    },\n' +
          '    "language": [\n' +
          '        {\n' +
          '            "text": "繁體中文",\n' +
          '            "abbr": "zh_tw",\n' +
          '            "default": true\n' +
          '        },\n' +
          '        {\n' +
          '            "text": "简体中文",\n' +
          '            "abbr": "zh_cn"\n' +
          '        },\n' +
          '        {\n' +
          '            "text": "English",\n' +
          '            "abbr": "en"\n' +
          '        }\n' +
          '    ],\n' +
          '    "theme": {\n' +
          '        "style": "gray"\n' +
          '    },\n' +
          '    "menu": {\n' +
          '        "swipeMenu": {\n' +
          '            "initClosed": false,\n' +
          '            "openFirstLayer": true\n' +
          '        }\n' +
          '    },\n' +
          '    "heightAdjust": false,\n' +
          '    "loginLogout": false,\n' +
          '    "dashboardHeader": true\n' +
          '}'
      },
      langConfigRules: {
        name: [
          { validator: validatePass, trigger: '' }
        ]
      },
      langConfigLang: 'English'
    }
  },
  methods: {
    monitorLanguage (row) {
      const win = window.open('/monitor', '_blank')
      win.focus()
    },
    editLanguage (row) {
      this.langConfigLang = row.language
      this.isLangConfigFormHidden = false
    },
    deleteLanguage () {
    },
    submitSystemForm () {
    }
  }
}
</script>
<style lang="scss">
  .create-monitor-button {
    vertical-align: text-bottom;
    background-size: 20px;
    width: 20px !important;
    height: 20px !important;
  }
  .srp-system-config-textarea {
    textarea {
      height: 500px;
    }
  }
  .iws-icon-arrow-circle-back {
    font-weight: bold;
    border-radius: 12px;
    border: 1px solid #008cd6;
    color: #008cd6;
    &:hover {
      cursor: pointer;
    }
  }
</style>
