/* 改变主题色变量 */
$--color-primary: #008cd6;

/* 改变 icon 字体路径变量，必需 */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";

.el-button {
  border-radius: 0;
  padding: 8px;
}

.el-message-box {
  .el-message-box__header {
    padding: 20px 32px 0 32px;

    .el-message-box__title {
      font-size: 20px;
      color: #323233;
      font-weight: bold;
      font-family: "Roboto Bold", "Microsoft JhengHei";
      span {
        font-weight: bold !important;
        font-family: "Roboto Bold", "Microsoft JhengHei" !important;
      }
    }
  }

  .el-message-box__content {
    .el-message-box__status {
      display: none;
    }
    padding: 8px 32px 16px 32px;
    color: #787878;

    p {
      font-size: 14px;
    }
  }

  .el-message-box__btns {
    padding-top: 10px;
    border-top: 1px solid #c8c8c8;

    .el-button {
      padding: 6px 12px;
      font-weight: bold;
      font-family: "Roboto Bold", "Microsoft JhengHei";
      border: none;
      background-color: transparent;

      span {
        font-weight: bold;
        font-family: "Roboto Bold", "Microsoft JhengHei";
      }
      &:hover,
      &:focus {
        color: #008cd6;
        background-color: transparent;
      }
    }

    .el-button--small {
      font-size: 16px;
    }
  }
}

.el-message-box.tp-el-message-box-error {
  .el-message-box__close:hover {
    color: #ce2f2f;
  }
  .el-button {
    &:hover, &:focus {
      color: #ce2f2f;
    }
  }
  .el-button--primary {
    color: #ce2f2f;
  }
}