<template>
  <div class="forget-password-wrapper">
    <div id="particles-js"></div>
      <div id="login-wrapper">
        <div id="login-b">
          <div id="login-box">
            <div class="login-wplogo-area">
              <img id="topleft-logo" class="img-responsive" src="../../../static/img/wise-paas-logo.svg" />
            </div>
            <div class="login-pdlogo-area">
              <img id="center-logo" class="img-responsive" src="../../assets/WISE-PaaS_composer.svg">
            </div>
            <div class="fgPg-msg-area">
              <div class="fgPg-message">Enter Email to Reset Your Password</div>
            </div>
            <div class="fgPg-form-area">
              <input id="fgPg-username" v-model="username" type="text" class="form-control" placeholder="Email" maxlength="253" title="Email">
            </div>
            <div class="fgPg-submit-area">
              <div id="fgPg-btn" @click="resetPassword">
                <span class="noselect">Reset Password</span>
              </div>
            </div>
            <div id="fgPg-box-bottombtn" @click="gotoLogin"><span class="noselect">Return to login</span></div>
          </div>
        </div>
      </div>
    <!-- <div id="login-wrapper">
      <div id="login-box">
        <img id="topleft-logo" class="img-responsive" src="../../../static/img/wise-paas-logo.svg" />
        <div id="center-logo-wrapper">
          <img id="center-logo" class="img-responsive" src="../../assets/WISE-PaaS_composer.svg">
        </div>
        <div id="login-message">Enter Email to Reset Your Password</div>
        <div id="login-form">
            <input id="forgetpwd-username" v-model="username" type="text" class="form-control" placeholder="Email" maxlength="253" title="Email">
        </div>
        <div id="forgetpwd-btn">
            <span class="noselect" @click="resetPassword">Reset Password</span>
        </div>
        <div id="login-box-bottombtn" @click="gotoLogin"><span class="noselect">Return to login</span></div>
      </div> -->
  </div>
</template>

<!--<script src="../../../static/libs/jquery/jquery-1.12.3.min.js" ></script>
<script src="../../../static/libs/intl-tel-input/js/intlTelInput.min.js" ></script>
<script src="../../../static/libs/bootstrap/js/bootstrap.min.js" ></script>
<script src="../../../static/libs/particlesjs/particles.min.js" ></script>
<script src="../../../static/js/particles-config.js" ></script>
<script src="../../../static/js/intl-tel-input-config.js" ></script>-->
<script>
// import '../../../static/libs/particlesjs/particles.min.js'
// import pConfig from '../../../static/js/particles-config.js'
import {authAPI} from '@/api/restfulAPI'
import * as glbData from '@/js/globalData'
import {Message} from 'element-ui'
// import * as tokenPrc from '@/js/tokenProcess'
const DEF_TOKEN_TS = (2 * 7 * 24 * 60) // 2 weeks

export default {
  name: 'composer-forgetpassword',
  data () {
    return {
      username: '',
      password: '',
      type: '',
      isRemember: false,
      defTokenTs: DEF_TOKEN_TS,
      tipMessage: 'Sign in to Cloud SaaS Composer Network',
      errFlag: false
    }
  },
  mounted: function () {
    // pConfig.initParticles()
  },
  methods: {
    resetPassword () {
      // console.log(this.username + ' ' + this.password)
      authAPI.resetPassword(this.username).then(resp => {
        if (resp.errCode === 0) {
          Message({message: 'WISE-PaaS Password Reset Success', type: 'success', duration: 2000})
        } else {
          throw resp
        }
      }).catch(error => {
        console.log('Error:')
        if (error.data) {
          console.log(error.data)
        }
        Message({message: 'WISE-PaaS Password Reset Error', type: 'error', duration: 2000})
      })
    },
    gotoLogin () {
      let defaultLang = localStorage.getItem('scLang') || 'zh'
      this.$router.push({name: glbData.LOGIN_CMPN, params: {lang: defaultLang}})
    }
  }
}
</script>

<style lang="scss" scoped>
@import '../../../static/libs/bootstrap/css/bootstrap.min.css';
@import '../../../static/libs/font-awesome-4.7.0/css/font-awesome.min.css';
@import '../../../static/libs/intl-tel-input/css/intlTelInput.css';

@import '../../style/login/common.css';
@import '../../style/login/v375.css';
@import '../../style/login/v414.css';
@import '../../style/login/v1024.css';
@import '../../style/login/v1440.css';
@import '../../style/login/v4k.css';

@import '../../style/forgetPwd/v375.css';
@import '../../style/forgetPwd/v414.css';
@import '../../style/forgetPwd/v1024.css';
@import '../../style/forgetPwd/v1440.css';
@import '../../style/forgetPwd/v4k.css';
</style>
