<template>
  <div id="app">
    <router-view/>
  </div>
</template>
<style lang="scss">
  html, body {
    padding: 0;
    margin: 0;
  }
  * {
    font-family: "Roboto Regular", "Microsoft JhengHei", "Avenir", Helvetica, Arial, sans-serif;
  }

  .iws-dropdown {
    box-shadow: 1px 2px 5px 1px #aaa;
    border: 0;
    border-radius: 0;
    min-width: 250px;
    padding: 0;
    margin-top: 10px;
    > li {
      border-bottom: 1px solid #c8c8c8;
      padding: 0;
      div {
        padding: 8px;
      }
    }
  }
</style>
